body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar-brand img {
    max-width: 10em;
}

.navbar .nav-item .nav-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(7, 6, 22, 0.8);
}

.navbar .nav-item {
    margin-right: 1em;
}

.theme-btn {
    /* Rectangle 1 */
    background: #3A83B5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;

    /* color: #fff */
    padding-left: 1.2em;
    padding-right: 1.2em;

    /* Contact Us */
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.theme-btn:hover {
    color: #fff;
}

.navbar {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.hero {
    background: #FAFAFD;
    padding-top: 8em;
    padding-bottom: 10em;
    background-image: url('assets/Group%20510.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.hero img {
    max-width: 100%;
}

.theme-h1 {
    /* All financial Solutions under One Roof */
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 61px;
    color: #000000;
}

.theme-color {
    color: #3A83B5 !important;
}

.theme-p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(7, 6, 22, 0.5);
    margin-top: 12px;
}

.theme-bg2 {
    background: #E57C25;
}

.segments {
}

.theme-head {
    /* Choose your Segment */
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 49px;
    color: #000000;
    padding-top: 0em;
    padding-bottom: 1.5em;
}

.segment-card {
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.card-holder {
    /* Ellipse 2 */
    background: #FAFAFD;
    box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 2em;
}

.card-holder img {
    max-width: 90px;
}

.card-title {
    /* Shares & Stocks */
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-top: 1em;
}

.hero .theme-p {
    font-size: 22px;
    padding-right: 4em;
}

.segement-row {
    flex-direction: row;
    align-items: center;
    display: run-in;
    text-align: center;
    width: 135%;
}

.segment-main {
    overflow: hidden;
    max-width: 100%;
    text-align: center;
}

.section-body {
    padding-top: 3em;
    padding-bottom: 3em;
}

.features {
    background: #e4e4fa;
}

.feature-bigcard {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
    padding: 2em;
    text-align: center;
}

.description {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(7, 6, 22, 0.54);
}

.feature-bigcard .description {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(7, 6, 22, 0.81);
    padding-top: 1em;
}

.title {
}

.feature-smallcard .title {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
}

.steps {
}

.step-card {
    text-align: center;
}

.step-card .title {
    /* Step 1 */
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-bottom: 8px;
}

.step-card img {
    max-width: 100px;
    padding-bottom: 12px;
}

.step-card .description {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(7, 6, 22, 0.81);
}

.steps img {
    max-width: 100%;
}

.blogs {
    background-color: #e4e4fa;
}

.blog-card {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
}

.theme-bg {
    background-color: #002068;
}

.blog-card h3 {
    color: #fff;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    padding: 1em;
}

.blog-card h4 {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
}

.segment-card img {
    max-width: 4em;
}

.partner {
    background: #e4e4fa;
}

.partner img {
    max-width: 100%;
}

.footer {
    background-color: #232323;
}

.sm-icons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-right: 70px;
}

.sm-icons li {
}

.footer-nav {
}

.footer-nav li {
    background: transparent;
    border: 0 solid;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;

    /* identical to box height */
    color: #FFFFFF;
    padding: 6px;
}

.footer .title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    /* identical to box height */
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.feature-smallcard {
    margin-bottom: 2em;
}

.sub-hero {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #3A83B5;
}

.sub-hero .theme-h1 {
    text-align: center;
    color: #fff;
}

.about-u {
    /* background-image: url('assets/about.png') */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3em;
    background-position: center center;
    padding-top: 7em;
    background-color: #e4e4fa;
}

.about-u .row {
}

.vision-card {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
    padding: 2em;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: -6.5em;
}

.about-u .vision-card .theme-head {
    padding-bottom: 12px;
}

.team-card {
    background: #f2f2ff;
    text-align: center;
    margin-bottom: 2em;
    padding: 2em;
    margin-right: 1em;
    border-radius: 1em;
}

.team-card img {
    padding: 0em;
    max-width: 90%;
    margin-bottom: 1em;
}

.team-card h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;

    /* identical to box height */
    color: #000000;
}

.team-card p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    /* identical to box height, or 140% */
    text-align: center;
    color: rgba(7, 6, 22, 0.5);
}

.feature-smallcard img {
    max-width: 7em;
}

.partner-section {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 6, 22, 0.81);
}

.active {
    font-weight: 600 !important;
    color: #3A83B5 !important;
}

.steps {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;

    /* or 171% */
    color: #000000;
}

.steps-info {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.partner-form .form-group {
    display: flex;
    align-items: center;
}

.partner-form .form-group input,
textarea {
    max-width: 70%;
    background: #FFFFFF !important;
    border-radius: 8px !important;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.4) !important;
    border: 0px solid !important;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 45px;
}

.partner-form .form-group label {
    padding-right: 2em;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    width: 50%;
    text-align: left;
}

.partner-form-section {
    background-color: #e4e4fa;
}

.form-group select {
    max-width: 70%;
    background: #FFFFFF !important;
    border-radius: 8px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    border: 0px solid;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 45px;
    width: 100%;
    height: 45px;
}

.navbar-toggler-icon {
    background-image: url('assets/ic_baseline-menu.svg');
}

@media only screen and (max-width:767px) {
    .navbar-brand img {
        max-width: 8em;
    }

    .hero {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .theme-h1 {
        font-size: 28px;
        line-height: 46px;
    }

    .hero .theme-p {
        font-size: 18px;
    }

    .theme-head {
        font-size: 22px;
    }
}

@media only screen and (max-width:575px) {
    .segement-row {
        display: flex;
        overflow: hidden;
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width:767px) {
    .section-body {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.arr {
}

@media only screen and (max-width:575px) {
    .arr {
        display: none;
    }

    .step-card {
        margin-bottom: 1em;
    }
}

@media only screen and (max-width:767px) {
    .segement-row {
        width: 100%;
    }

    .arr {
        display: none;
    }

    .step-card {
        margin-bottom: 1em;
    }
}

.partner-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('none');
}

.car-row {
    display: flex;
    justify-content: center;
}

.dropdown-submenu {
    position: relative;
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.caret::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.eligible-list .list-group-item {
    padding: 1.2em;
    margin-bottom: 2em;
    background-color: #F6F9FF;
    border: 0 solid;
    border-radius: 16px;
    display: flex;
}

.eligible-list .list-group-item p {
    margin-left: 2em;
    font-family: Avenir;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.testimony-card {
    /* background: rgba(89, 84, 233, 0.1) */
    padding: 4em;
    min-height: 260px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.testimony-body {
    margin-left: 4em;
}

.testimony-body img {
    max-width: 20px;
    float: left;
}

.cont {
}

.testimony-card .testimony-body .cont {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    /* or 156% */
    color: rgba(7, 6, 22, 0.8);
    padding-left: 2em;
    padding-right: 2em;
}

.person {
}

.footer-nav li a {
    color: #fff;
}

.segment-main marquee .row div img {
    max-width: 120px;
    max-height: 90px;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #f90;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: #f90;
}

.vision-card img {
    max-width: 180px;
}

.logos marquee img {
    max-width: 120px;
}

.logos marquee div div {
    padding-right: 2em;
    padding-left: 2em;
}

#carouselExampleControls3 .carousel-indicators li {
    color: #232323 !important;
    background-color: #3e84b3;
    max-width: 20px;
}

.affiliations img {
    min-width: 120px;
}